/* src/App.css */
.App {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: block;
  }
  
  .tab-content {
    width: 60%;
    margin: 0 auto;
  }