.body {
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    width: 90%;

}
.company-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 95%;
}
.company-card .header {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}
.company-card .header img {
    border-radius: 4px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.company-card .header .company-info {
    flex-grow: 1;
}
.company-card .header .company-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.company-card .header .rating {
    display: flex;
    /* align-items: center; */

}
.company-card .header .rating i {
    color: #08440a;
    margin-right: -20px;
}
.company-card .header .rating span {
    font-size: 18px;
    color: #219225;
}
 .stats {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: bold;
    width: 60%;
    margin-top: 10px;
}
.detailstats{
    width: 15%;

}
.cntdel{
    color:#4676c4;
    margin-top: 5px;
}
 .details {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
 .detail {
    font-size: 16px;
    padding: 0px 20px;
}
 .detail strong {
    display: block;
    font-weight: bold;
}
.company-card .description {
    font-size: 16px;
    color: #555;
}
.detail1{
    margin-left: -25px;
}
.displaynone1{
    display: none;
}
@media (max-width:700px) {
    .body{
        width:100%;
        margin-left: 0px;

    }
    .company-card{
        width: 97%;
    }
    .stats{
        display: none;
    }
    .details{
        display: flex;
        margin-top: 10px;

    }
    .displaynone2{
        display: none;
    }
    .displaynone1,.detail1{
        display: block;
        margin-left: 0px;
    }
    .displaynone1{
        margin-bottom: 10px;
    }
    
}