/* Basic styling for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    /* background-color: #f8f8f8; */
    /* position: fixed; */
    width: 100%;
    height: 65px;
    top: 0;
    border-bottom: 1px solid rgb(233, 229, 229);
}

/* Styling for the left part of the navbar */
.navbar-left {
    flex: 0;
    margin-left: 60px;
}

.navbar-left-icon {
    height: 45px;
    width: 130px;
    transition: height 0.3s, width 0.3s;
}


.navbar-center {
    margin-left: 80px;
    flex: 2;
    display: flex;
    justify-content: center;
    font-size: larger;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    position: relative;
}

.nav-links li {
    cursor: pointer;
    position: relative;
}

.hover-content {
    position: absolute;
    top: 43px;
    left: 0;
    width: 550px;
    /* height: 220; */
    background-color: white;
    border: 1px solid #bfbcbc;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
}
.heads{
    font-weight: 200;
    font-size: small;
    font-size: 20px;

}
.texts{
    font-size: 18px;
    color:#464646

}
.image{
    width: 50%;
    height:100%;
    justify-content: center;
    align-items: center;
}
.btn{
    height:40px;
    width: 70%;
    background-color: white;
    align-items: center;
    align-content: center;
    border: 0.2 solid blanchedalmond;
    font-size: medium;
    border-radius: 5px;


}

/* Styling for the right part of the navbar */
.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.signin-button {
    margin-right: 50px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: medium;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.signin-button:hover {
    background-color: green;
}

.signin-icon {
    height: 20px;
    width: 18px;
    margin-right: 10px;
}
.textcontent{
    width: 50%;

}

/* Responsive design for smaller screens */
@media (max-width: 1100px) {
    .navbar-center {
        display: none;
    }

    .navbar-right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .signin-button {
        margin-right: 0px;
        display: flex;
        align-items: center;
        background-color: black;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: medium;
        transition: background-color 0.3s ease;
        border-radius: 5px;
    }
    
    .signin-button:hover {
        background-color: green;
    }
    
    .signin-icon {
        height: 20px;
        width: 18px;
        margin-right: 10px;
    }
    .navbar-left {
        flex: 0;
        margin-left: 10px;
    }

}

@media (max-width: 1100px) {
    
}